.list-header {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;

  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  background-color: rgb(0, 0, 0);

  .slider {
    width: 100vw;
  }
}

.list-articles {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;

  .title-box {
    width: 40%;
    text-align: center;
  }

  .content {
    width: 80vw;
    margin-top: 50px;

    .main-article {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 357px;

      .main {
        width: 58%;
        height: 100%;
        background-color: transparent;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .sider {
        height: 100%;
        width: 40%;
        padding: 20px;

        .title-main {
          height: 100%;
          h1 {
            cursor: pointer;
          }
          .button-sider {
            margin-top: 80px;
          }
        }
      }
    }
  }

  .article-list-4 {
    width: 80vw;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas: ". . . .";
  }
}

.recruitment-cta {
  width: 100vw;
  height: 280px;
  margin-top: 40px;
  background-color: #181818;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .text-cta {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 40%;
    height: 120px;
    justify-content: space-between;
    color: white;
  }

  .button-cta {
    height: 55px;
    width: 150px;
    margin-top: 125px;
    border: 3px solid #229ed9;
    background: transparent;
    color: #229ed9;
    font-size: x-large;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .divisions {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 0%;
    align-items: center;

    .title-box {
      width: 90%;
      text-align: center;
    }

    .slider {
      width: 100vw;
    }
  }

  .list-articles {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;

    .title-box {
      width: 90%;
      text-align: center;
      margin-top: 20px;
    }

    .content {
      width: 80vw;
      margin-top: 50px;
    }

    .article-list {
      width: 80vw;
      margin-top: 40px;
      display: block;
      grid-template-columns: auto;
      grid-template-areas: auto;
      margin-top: 5 0px;
    }
  }

  .recruitment-cta {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: smaller;
    background: url("http://4.bp.blogspot.com/-WRgc0wmjqS0/UJTjIiNZaeI/AAAAAAAAACE/afcAqHmLMkk/s1600/8.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.747);

    .text-cta {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 100%;
      height: auto;
      justify-content: space-between;
      color: white;
    }

    .button-cta {
      height: 35px;
      width: 100%;
      background: #229ed9;
      margin-top: 25px;
      text-align: center;
      border: none;
      color: white;
      font-size: small;
      font-weight: bold;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .divisions {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;

    .title-box {
      width: 90%;
      text-align: center;
    }

    .slider {
      width: 100vw;
    }
  }

  .list-articles {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;

    .title-box {
      width: 90%;
      text-align: center;
      margin-top: 20px;
    }

    .content {
      width: 80vw;
      margin-top: 50px;
    }

    .article-list-4 {
      width: 80vw;
      margin-top: 40px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      gap: 0px 10px;
      grid-template-areas: ". . . .";
    }
  }

  .recruitment-cta {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: smaller;
    background: url("http://4.bp.blogspot.com/-WRgc0wmjqS0/UJTjIiNZaeI/AAAAAAAAACE/afcAqHmLMkk/s1600/8.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.747);

    .text-cta {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 100%;
      height: auto;
      justify-content: space-between;
      color: white;
    }

    .button-cta {
      height: 35px;
      width: 100%;
      background: #229ed9;
      margin-top: 25px;
      text-align: center;
      border: none;
      color: white;
      font-size: small;
      font-weight: bold;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .divisions {
    width: 100%;
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;

    .title-box {
      width: 90%;
      text-align: center;
    }

    .slider {
      width: 100vw;
    }
  }

  .list-articles {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;

    .title-box {
      width: 90%;
      text-align: center;
      margin-top: 20px;
    }

    .content {
      width: 80vw;
      margin-top: 50px;
    }

    .article-list-4 {
      width: 80vw;
      margin-top: 40px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      gap: 0px 10px;
      grid-template-areas: ". . . .";
    }
  }

  .recruitment-cta {
    width: 100vw;
    height: 30vh;
    padding: 20px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: smaller;
    background: url("http://4.bp.blogspot.com/-WRgc0wmjqS0/UJTjIiNZaeI/AAAAAAAAACE/afcAqHmLMkk/s1600/8.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.747);

    .text-cta {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 100%;
      height: auto;
      justify-content: space-between;
      color: white;
    }

    .button-cta {
      height: 35px;
      width: 200px;
      background: #229ed9;
      margin-top: 25px;
      text-align: center;
      border: none;
      color: white;
      font-size: small;
      font-weight: bold;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}
