.division-card {
  display: flex;
  flex-direction: column;
  width: 32vw;
  height: 266px;
  min-width: 12vw;
  object-fit: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  .title-card {
    color: white;
    padding-left: 30px;
    height: 70%;
    width: 90%;

    .button-card {
      margin-top: 50px;
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 32vw;
  height: 266px;
  min-width: 12vw;
  object-fit: contain;
  background-position: right;
  background-position-y: 10%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  .title-card {
    color: white;
    padding-left: 30px;
    height: 70%;
    width: 40%;

    .button-card {
      margin-top: 30px;
    }
  }
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.article-card {
  width: 250px;
  height: 376px;

  .article-image {
    height: 220px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .article-title {
    width: 100%;
    height: 120px;
    color: white;
    text-align: left;
    align-items: left;
    padding: 20px;
    background-color: #f1f1f1;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .division-card {
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 110px;
    min-width: 0vw;
    object-fit: cover;
    background-position: top;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    .title-card {
      color: white;
      padding-left: 0px;
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        display: none;
      }

      .button-card {
        margin-top: 50px;
        display: none;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 576px;
    min-width: 767.98px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 991.98px;
    min-width: 768px;
  }
}
